<p>selected-movie works!</p>

<div class="selectedMovieContainer container">
    <img>
    <div class="container" id="selectedMovieInfo">
        <div class="container" id="descriptionBackground">
            <h2>Movie title</h2>
            <p class="lead">Description text about the selected movie including all the information that you the bla bla bla.</p>
            <button class="btn btn-info">More info</button>
            <button class="btn btn-primary">Watch</button>

        </div>

    </div>
</div>